<footer class="h-[6.4vmax] w-full flex items-center justify-between pt-4 pb-8 px-5 bg-neutral-100">
    <a class="w-1/5 flex flex-col h-[95%] gap-2 items-center justify-between" href="/analyse-water">
      <img class="w-full h-[80%] object-contain" src="/images/analysis-bar.png" alt="">
      <p class="text-3xl font-[600]">Analytics</p>
    </a>
    <a class="w-1/5 flex flex-col h-[95%] gap-2 items-center justify-between" href="/water">
      <img class="w-full h-[80%] object-contain" src="/images/battery.svg" alt="">
      <p class="text-3xl font-[600]">Usage</p>
    </a>
    <a class="w-1/5 flex flex-col h-[95%] gap-2 items-center justify-between" href="/home">
      <img class="w-full h-[80%] object-contain" src="/images/house-solid 1.png" alt="">
      <p class="text-3xl font-[600]">Home</p>
    </a>
    <a class="w-1/5 flex flex-col h-[95%] gap-2 items-center justify-between" href="/profile">
      <img class="w-full h-[80%] object-contain" src="/images/account-circle-line.svg" alt="">
      <p class="text-3xl font-[600]">Profile</p>
    </a>
    <a class="w-1/5 flex flex-col h-[95%] gap-2 items-center justify-between" href="/goals">
      <img class="w-full h-[80%] object-contain" src="/images/rupee-coin-solid-icon 1.svg" alt="">
      <p class="text-3xl font-[600]">Coin</p>
    </a>
  </footer>
</body>
</html>
