<!DOCTYPE html>
<html>
  <head>
    <title>Jal-Vidut</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <style>
    ::selection{
      display: none;
    }
    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-Regular.ttf');
      font-weight: 400; /* Normal */
    }

    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-Bold.ttf');
      font-weight: 700; /* Bold */
    }

    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-Heavy.ttf');
      font-weight: 900; /* Heavy */
    }

    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-Semibold.ttf');
      font-weight: 600; /* Semibold */
    }

    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-Thin.ttf');
      font-weight: 100; /* Thin */
    }

    @font-face {
      font-family: 'gilroy';
      src: url('/stylesheets/Fonts/Gilroy-UltraLight.ttf');
      font-weight: 200; /* Ultra Light */
    }
</style>
<body class="w-screen max-h-screen h-screen flex flex-col px-5 items-start justify-between font-[gilroy]">
    