<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1></h1>
  <!-- Add a canvas element for the chart -->
  <canvas id="myChart" width="200" height="200"></canvas>
  <!-- Include your custom JavaScript file for chart configuration and data -->
  
</body>
</html>
