<% include ./partials/header.ejs %>
    <div class="w-full">
        <div class="w-full h-[10vh] flex items-end justify-between gap-5 px-8 py-6">
            <div class="flex h-full items-end ">
                <img class="h-full" src="/images/adobbe-logo 1.svg" alt="">
                <img class="h-3/5" src="/images/jal-vidyut-name 1.png" alt="">
            </div>
            <div class="w-1/6 h-5/6 flex py-5 px-5 rounded-xl flex-col gap-6 items-center justify-between bg-blue-600 bg-opacity-90 shadow-2xl shadow-slate-500">
                <img class="w-full h-5/6 object-contain" src="/images/droplet-solid 1.svg" alt="">
            </div>
        </div>
        <main class="px-9 mt-20 text-3xl w-full py-5">
            <div class="flex flex-col gap-10 items-center justify-between w-full">
                <div class="w-full bg-neutral-100 flex flex-col items-center px-7 py-10 rounded-2xl">
                    <div class="font-bold text-4xl mb-7 flex w-full justify-between">
                        <p>This Week's Challenge</p>
                        <div class="flex gap-3">
                            <img src="/images/rupee-coin-solid-icon 1.svg" alt="">
                            <p>30</p>
                        </div>
                    </div>
                    <p class="mb-7 w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni provident accusantium.</p>
                    <div class="w-7/12 bg-red-800 rounded-full text-white py-6 px-7 text-center font-semibold text-3xl">Challenge not completed</div>
                </div>
                <div class="bg-neutral-100 rounded-2xl py-5 px-7">
                    <p class="text-4xl font-bold">Previous Challenges</p>
                    <div class="w-full flex flex-col items-center px-7 py-10 rounded-2xl">
                        <div class="font-bold text-4xl mb-7 flex w-full justify-between">
                            <p>This Week's Challenge</p>
                            <div class="flex gap-3">
                                <img src="/images/rupee-coin-solid-icon 1.svg" alt="">
                                <p>30</p>
                            </div>
                        </div>
                        <p class="mb-7 w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni provident accusantium.</p>
                        <div class="w-7/12 bg-red-800 rounded-full text-white py-6 px-7 text-center font-semibold text-3xl">Challenge not completed</div>
                    </div>
                    <div class="w-full flex flex-col items-center px-7 py-10 rounded-2xl">
                        <div class="font-bold text-4xl mb-7 flex w-full justify-between">
                            <p>This Week's Challenge</p>
                            <div class="flex gap-3">
                                <img src="/images/rupee-coin-solid-icon 1.svg" alt="">
                                <p>30</p>
                            </div>
                        </div>
                        <p class="mb-7 w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni provident accusantium.</p>
                        <div class="w-7/12 bg-green-400 rounded-full text-white py-6 px-7 text-center font-semibold text-3xl">Challenge completed</div>
                    </div>
                    <div class="w-full flex flex-col items-center px-7 py-10 rounded-2xl">
                        <div class="font-bold text-4xl mb-7 flex w-full justify-between">
                            <p>This Week's Challenge</p>
                            <div class="flex gap-3">
                                <img src="/images/rupee-coin-solid-icon 1.svg" alt="">
                                <p>30</p>
                            </div>
                        </div>
                        <p class="mb-7 w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni provident accusantium.</p>
                        <div class="w-7/12 bg-red-800 rounded-full text-white py-6 px-7 text-center font-semibold text-3xl">Challenge not completed</div>
                    </div>
                    <div class="w-full flex flex-col items-center px-7 py-10 rounded-2xl">
                        <div class="font-bold text-4xl mb-7 flex w-full justify-between">
                            <p>This Week's Challenge</p>
                            <div class="flex gap-3">
                                <img src="/images/rupee-coin-solid-icon 1.svg" alt="">
                                <p>30</p>
                            </div>
                        </div>
                        <p class="mb-7 w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni provident accusantium.</p>
                        <div class="w-7/12 bg-red-800 rounded-full text-white py-6 px-7 text-center font-semibold text-3xl">Challenge not completed</div>
                    </div>
                </div>
            </div>
        </main> 
    </div>
<% include ./partials/footer.ejs %>